@font-face {
    font-family: 'Uber Move';
    src: url('../fonts/UberMove-Light.woff2') format('woff2'),
        url('../fonts/UberMove-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Uber Move';
    src: url('../fonts/UberMove-Medium.woff2') format('woff2'),
        url('../fonts/UberMove-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uber Move';
    src: url('../fonts/UberMove-Regular.woff2') format('woff2'),
        url('../fonts/UberMove-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uber Move';
    src: url('../fonts/UberMove-Bold.woff2') format('woff2'),
        url('../fonts/UberMove-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

